%h1
	Projects
%center
	.projectContainer
		- @projects.each do |project|
			%a{:href => "projects/#{project.id.to_s}"}
				.well= project.name
	
	= link_to 'New Project', new_project_path, :class => 'newProjectBtn btn btn-default'

